Source: xenta-x-icons
Section: gnome
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <root@dev.xentaos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaos/xenta-x-icons
Vcs-Browser: https://github.com/xentaos/xenta-x-icons.git

Package: xenta-x-icons
Architecture: all
Depends: xenta-icons
Description: Xenta-X Icon themes
 Icon default theme built for Xenta OS. 
 Uses elements of Numix and Influence from Faenza.
