Source: xenta-x-icons
Section: gnome
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaoslinux/xenta-x-icons
Vcs-Browser: https://github.com/xentaoslinux/xenta-x-icons.git

Package: xenta-x-icons
Architecture: all
Depends: xenta-icons
Description: Paket Xenta-X Icon themes
 Icon Themes Bawaan Xenta OS Terinspirasi dari Mint-X,
 Faenza dan Numix icon themes untuk icon Foldernya Merupakan
 Ciri khas dari Xenta OS.
